node_modules
.vercel
.env*.local
*.pack
*.hot-update.js
*.log
*.bak
*.tmp
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock
dist/
build/
out/
.next/
*.exe
*.dll

.env
.env.local
.env.development
.env.test
.env.production
*.log
*.bak
*.tmp
.bash_history
.vimrc
.next/*/
.next/app-build-manifest.json
.next/app-build-manifest.json
.next/cache/webpack/client-development/index.pack
.next/cache/webpack/server-development/index.pack
.next/server/app-paths-manifest.json
.next/server/client-reference-manifest.js
.next/server/client-reference-manifest.json
.next/server/webpack-runtime.js
.next/static/chunks/app/layout.js
.next/static/chunks/webpack.js
